<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Output Window</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-footer box-comments"> 
        <div class="box-comment">
            <div class="comment-text api-text">
                <span class="username">
                    Initial connection with server()
                    <span class="text-muted pull-right">8:03 PM Today</span>
                </span><!-- /.username -->
                The request URL is invalidate 
            </div>
        </div>
        <!-- /.comment-text -->
        <div class="box-comment">
            <div class="comment-text api-text">
                <span class="username">
                    Draw the Line
                    <span class="text-muted pull-right">8:03 PM Today</span>
                </span><!-- /.username -->
                The request URL is invalidate 
            </div>
        </div>
        <!-- /.comment-text -->
        <div class="box-comment">
            <div class="comment-text api-text">
                <span class="username">
                    Connect with box()
                    <span class="text-muted pull-right">9:03 PM Today</span>
                </span><!-- /.username -->
                The request URL is invalidate 
            </div>
        </div>
        <!-- /.comment-text -->
        <div class="box-comment">
            <div class="comment-text api-text">
                <span class="username">
                    Execute the Connection()
                    <span class="text-muted pull-right">9:03 PM Today</span>
                </span><!-- /.username -->
                The request URL is invalidate 
            </div>
        </div>
        <!-- /.comment-text -->
        <div class="box-comment">
            <div class="comment-text api-text">
                <span class="username">
                    Got an response()
                    <span class="text-muted pull-right">9:03 PM Today</span>
                </span><!-- /.username -->
                The request URL is invalidate 
            </div>
        </div>
        <!-- /.comment-text -->
        <div class="box-comment">
            <div class="comment-text api-text">
                <span class="username">
                    Test all methods()
                    <span class="text-muted pull-right">10:03 PM Today</span>
                </span><!-- /.username -->
                The request URL is invalidate 
            </div>
        </div>
        <!-- /.comment-text -->
    </div>
    <!-- /.box-body -->
    <div class="box-footer text-center">
        <a href="javascript:void(0)" class="uppercase">View All</a>
    </div>
    <!-- /.box-footer -->
</div>