<div class="modal-header">Add/Edit Customer<button type="button" class="close" ng-click="CloseAttorneyDiag()">×</button></div>
<div class="modal-body">
    <div class="form-group col-lg-6">
        <label class="sr-only" for="exampleInputPassword2">Customer Name</label>
        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Customer Name">
    </div>
    <div class="clearfix"></div>
    <div class="form-group col-lg-6 pull-right">
        <label class="sr-only" for="exampleInputPassword2">Phone</label>
        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Phone">
    </div>
    <div class="form-group col-lg-6">
        <label class="sr-only" for="exampleInputEmail2">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email">
    </div>
    <div class="clearfix"></div>
    <div class="form-group col-lg-12">
        <label class="sr-only" for="exampleInputPassword2">City</label>
        <input type="password" class="form-control" id="exampleInputPassword2" id="sm" placeholder="City">
    </div>
    <div class="clearfix"></div>
</div>
<div class="modal-footer">
    <div class="btn_group">
        <button type="submit" class="btn btn-gray" ng-click="CloseCustomerDiag()">Cancel</button>
        <button type="reset" class="btn btn-primary pull-right">Save</button>
    </div>
</div>